{% extends 'base.html.twig' %}

{% block title %}AJOUTER UNE FIGURE{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col l10 offset-l1 s12">
            <h1>Nouvelle figure</h1>
            <p>Veuillez remplir tous les champs afin de créer votre fiche "figure"</p>
            {% form_theme form 'form/theme.html.twig' %}

            <div class="input-field col s12">
                <i class="material-icons prefix pink-text">text_fields</i>
                <label class="active">{{ form_label(form.name) }}</label>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix pink-text">group</i>
                {{ form_label(form.group) }}
                {{ form_widget(form.group) }}
                {{ form_errors(form.group) }}
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix pink-text">create</i>
                <label class="active">{{ form_label(form.content) }}</label><br><br>
                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}
            </div><br>
        </div>
        <div class="col l10 offset-l1 s12">
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">camera_alt</i>Ajouter des images</div>
                    <div class="collapsible-body grey darken-3">
                        <div class="file-field input-field">
                            <div class="btn pink darken-1">+Images
                                {{ form_widget(form.image) }}
                                {{ form_errors(form.image) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate white-text" type="text" placeholder="Vous pouvez télécharger plusieurs fichiers">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">movie</i>Ajouter des vidéos</div>
                    <div class="collapsible-body grey darken-3">
                        <p>Indiquer jusqu'à 4 liens <a href="https://www.youtube.com/?hl=fr&gl=FR" target="_blank">Youtube</a> ou
                        <a href="https://www.dailymotion.com/" target="_blank">DailyMotion</a>. Attention prendre l'adresse
                        <embed> et non pas celle du navigateur.
                         </p>

                        <div class="input-field white-text">
                            <i class="material-icons prefix white-text">play_circle_filled</i>
                            <label class="active">{{ form_label(form.address1) }}</label>
                            {{ form_widget(form.address1) }}
                            {{ form_errors(form.address1) }}
                        </div>
                        <div class="input-field white-text">
                            <i class="material-icons prefix white-text">play_circle_filled</i>
                            <label class="active">{{ form_label(form.address2) }}</label>
                            {{ form_widget(form.address2) }}
                            {{ form_errors(form.address2) }}
                        </div>
                        <div class="input-field white-text">
                            <i class="material-icons prefix white-text">play_circle_filled</i>
                            <label class="active">{{ form_label(form.address3) }}</label>
                            {{ form_widget(form.address3) }}
                            {{ form_errors(form.address3) }}
                        </div>
                        <div class="input-field white-text">
                            <i class="material-icons prefix white-text">play_circle_filled</i>
                            <label class="active">{{ form_label(form.address4) }}</label>
                            {{ form_widget(form.address4) }}
                            {{ form_errors(form.address4) }}
                        </div>
                    </div>
                </li>
            </ul>

            <button type="submit" id="publier" class="waves-effect waves-light btn-small green darken-1">Publier</button>
            <button type="submit" name="reinitialiser" class="waves-effect waves-light btn-small pink darken-1">
                Réinitialiser
            </button><br><br>
            {{ form_end(form) }}
        </div>
    </div>


    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}