<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/materialize.css')}}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/style.css')}}">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="row light-blue darken-4 menu">
        <div class="col l12 no-padding">
            <nav>
                <div class="nav-wrapper light-blue darken-4">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('homepage') }}">Tricks</a></li>
                        {% if app.user.pseudo is not defined %}
                            <li><a href="{{ path('login') }}">Se connecter</a></li>
                            <li><a href="{{ path('inscription') }}">S'inscrire</a></li>
                        {% else %}
                        <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('homepage') }}">Tricks</a></li>
                {% if app.user.pseudo is not defined %}
                    <li><a href="{{ path('login') }}">Se connecter</a></li>
                    <li><a href="{{ path('inscription') }}">S'inscrire</a></li>
                {% else %}
                    <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col l12 grey darken-1">
            <div class="row">
                <div class="col l8 offset-l2 m12 s12">
                    <img class="responsive-img" src="{{ asset('images/logo.png') }}">
                </div>
            </div>
            <div class="col s12">
                <h3>Le premier site collaboratif des fans de snowboard</h3>
            </div>
        </div>
        <div class="col s12  grey darken-3">
            {% block header %}
                <div class="row">
                    <div class="col s12 center-align"><br>
                        {% if app.session.get('pseudo') is null %}
                            <a href="{{ path('login') }}">
                                <button class="waves-effect waves-light btn pink darken-1">
                                    <i class="material-icons left">account_circle</i>Se connecter
                                </button>
                            </a>
                            <a href="{{ path('inscription') }}">
                                <button class="waves-effect waves-light btn green darken-1">
                                    <i class="material-icons left">create</i>S'inscrire
                                </button>
                            </a><br><br>
                        {% else %}
                            {% if app.session.get('avatar') is empty %}
                                <br>
                                <img class="circle" src="{{ asset('images/avatar.png')}}"/>
                            {% else %}
                                <br><img class="circle avatar" id="avatar" src="{{ asset('/avatars/' ~ app.session.get('avatar'))}}"/>
                            {% endif %}
                            <h3>Bonjour {{ app.session.get('pseudo') }}</h3>
                            <a href="{{ path('avatar') }}">
                                Changer l'avatar
                            </a><br><br>
                            <a href="{{ path('logout') }}">
                                <button class="waves-effect waves-light btn-large pink darken-1">Se déconnecter</button>
                            </a><br><br>
                        {% endif %}
                    </div>
                    <div class="col l6 offset-l3 s10 offset-s1">
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col l12  grey lighten-1">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="row footer">
        <div class="col offset-s1 s4 hide-on-large-only">
            <a href="{{ path('homepage') }}">
                <i class="medium material-icons right-align">home</i>
            </a>
        </div>
        <div class="col s4 hide-on-large-only">
            <a href="{{ path('homepage') }}">
                <i class=" medium material-icons right-align">art_track</i>
            </a>
        </div>
        <div class="col s3 hide-on-large-only">
            {% if app.session.get('pseudo') is null %}
                <a href="{{ path('login') }}">
                    <i class="medium material-icons right-align">power_settings_new</i>
                </a>
            {% else %}
                <a href="{{ path('logout') }}">
                    <i class="medium material-icons right-align">exit_to_app</i>
                </a>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('/js/materialize.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>

