<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/materialize.css')}}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/style.css')}}">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <title>Bienvenue sur Snowtricks !</title>
</head>
<body>
    <div class="row grey darken-1">
        <div class="col-l12">
            <img src="{{ absolute_url(asset('../images/logo.png')) }}"><br><br>
        </div>
    </div><br><br>

    <div class="row" id="content">
        <div class="col l12 content">
            <h3>Bienvenue {{ name }}!</h3>
            <p> Bonjour {{ name }}! Vous êtes désormais enregistré en tant que membre de Snowtricks.</p>
            <p>Afin d'activer votre compte définitivement, veuillez cliquer sur le lien ci-dessous.</p>
            <p><a href="/validation_compte/{{ token }}">Valider votre compte</a></p>
        </div>
    </div>


</body>
</html>