{% extends 'base.html.twig' %}

{% block title %} SNOWTRICKS {% endblock %}

{% block content %}
    <div class="row" id="top">
        <div class="col l11">
            {% if app.session.get('pseudo') is not null %}
                <a href="{{ path('add_trick') }}">
                    <br><button href="{{ path('add_trick') }}" class="waves-effect waves-light btn pink darken-1" name="add">
                        Ajouter une Figure
                    </button>
                </a><br><br>
            {% endif %}
        </div>
        <div class="col l1">
             <div class="arrow">
                <a href="#content" class="scroll">
                    <button class="btn-floating btn waves-effect waves-light pink darken-1">
                        <i class="material-icons center">keyboard_arrow_down</i>
                    </button></a>
            </div>
        </div>
    </div>
    <div class="row">
        {% for trick in tricks %}
            <div class="col xl3 l4 m6 s12 trick" style="display: none;" id="trick">
                <div class="card">
                    <div class="card-image">
                        {% if trick.images is not empty %}
                            {% for image in trick.images if image.aLaUne == 1  %}
                                <img src="./uploads/{{ asset(image.url) }}"/>
                                {% else %}
                                    <img src="{{ asset('images/emptyTrick.png') }}"/>
                            {% endfor %}
                        {% else %}
                            <img src="{{ asset('images/emptyTrick.png') }}"/>
                        {% endif %}
                        <span class="card-title card-span">{{ trick.name }}</span>
                    </div>
                    <div class="row">
                        <div class="col s6 card-content">
                            <a href="{{ path('single_trick', {'id' : trick.id}) }}">
                                <p>Voir le détail</p>
                            </a>
                        </div>
                        <div class="col s6 center-align card-edit"><br>
                            {% if app.session.get('pseudo') == trick.user.pseudo %}
                                <a href="{{ path('update_trick', {'id' : trick.id}) }}" >
                                    <button class="waves-effect waves-light btn-small pink darken-1">
                                        <i class="material-icons">create</i>
                                    </button></a>
                                <a href="{{ path('delete_trick', {'id' : trick.id}) }}">
                                    <button class="waves-effect waves-light btn-small green darken-1">
                                        <i class="material-icons">clear</i>
                                    </button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
        <button class="waves-effect waves-light btn pink darken-1" id="load">Voir la suite</button>
    <br>
    <p class="totop"><a href="#top">Revenir en haut de la page</a></p>
    <script src="/js/loadMore.js"></script>
{% endblock %}




