{% extends 'base.html.twig' %}

    {% block title %}{{ trick.name | upper }}{% endblock %}

    {% block content %}
        <div class="row">
            {% if aLaUne.url is defined %}
                <div class="offset-md-1 col-md-10 col-sm-12 aLaUne" style="background-image: url('../uploads/{{ aLaUne.url }}');">
            {% else %}
                <div class="offset-md-1 col-md-10 col-sm-12 aLaUne" style="background-image: url('../images/empty_alaune.png'); background-size: contain;">
            {% endif %}
                <a href="/image_a_la_une/{{ trick.id }}"><button type="submit" class="btn btn-success">Changer l'image</button></a>
            </div>
        </div>
        <div class="row">
            {% for image in images %}
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <img class="img-thumbnail" style="margin-bottom:20px;" src="../uploads/{{ image.url }}"/>
                         {% if app.session.get('pseudo') is not null %}
                             <a href="/supprimer/trick/{{ trick.id }}/images/{{ image.id }}"><i class="fas fa-trash-alt" style="font-size:1.5em; color:SlateGrey" title="Supprimer l'image"></i></a>
                         {% endif %}
                </div>
            {% endfor %}

            {% for video in videos %}
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9" style="margin-bottom:20px;">
                        <iframe class="embed-responsive-item" src="{{ video.url }}" allowfullscreen> </iframe>
                    </div>
                    {% if app.session.get('pseudo') is not null %}
                        <a href="/supprimer/trick/{{ trick.id }}/videos/{{ video.id }}"><i class="fas fa-trash-alt" style="font-size:1.5em; color:SlateGrey" title="Supprimer la video"></i></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div><br><br>

        <div class="row">
            <h1>{{ trick.name }} ({{ trick.group.group }})</h1>
            <p>{{ trick.content }}</p>
            <em>Proposé par {{ trick.user.pseudo }} - Le {{ trick.trickDate | date ('d/m/Y \\à H\\hi') }}</em><br><br>
        </div>

        {% include 'comments.html.twig' %}

        <a href="/"><button type="button" class="btn btn-primary">Retour à la page d'accueil</button></a><br><br><br>

    {% endblock %}

