{% extends 'base.html.twig' %}

    {% block title %}{{ trick.name | upper }}{% endblock %}

    {% block content %}
        <div class="row">
    {% for medias in medias %}
            <div class="col-lg-2 col-md-4 col-sm-12">
                {% if medias.type == 'Image' %}
                    <img class="img-thumbnail" style="margin-bottom:20px;" src="../uploads/{{ medias.url }}"/>
                {% endif %}

                {% if medias.type == 'Video' %}
                    <div class="embed-responsive embed-responsive-16by9" style="margin-bottom:20px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ medias.url }}" allowfullscreen> </iframe>
                    </div>
                {% endif %}
            </div>
    {% endfor %}
        </div><br><br>
        <div class="row">
            <h1>{{ trick.name }} ({{ trick.group.group }})</h1>
            <p>{{ trick.content }}</p>
            <em>Proposé par {{ trick.user.pseudo }} - Le {{ trick.trickDate | date ('d/m/Y \\à H\\hi') }}</em><br><br>
        </div>

        {% include 'comments.html.twig' %}

        <a href="/"><button type="button" class="btn btn-primary">Retour à la page d'accueil</button></a><br><br><br>

    {% endblock %}

