{% extends 'base.html.twig' %}

{% block title %}{{ trick.name | upper }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col l10 offset-l1 s12 title center-align"><h1>{{ trick.name }} ({{ trick.group.name }})</h1></div><br>
        <div class="col l10 offset-l1 s12 alaune_wrapper no-padding">
            {% if aLaUne.url is defined %}
                <img class="responsive-img" src="{{ asset('../uploads/' ~ aLaUne.url)}}"/>
            {% else %}
                <img src="{{ asset('../images/empty_alaune.png')}}"/>
            {% endif %}
        </div>
        <div class="col l10 offset-l1 hide-on-med-and-up" >
            <button id="show_medias" class="waves-effect waves-light btn-small green darken-1">
                <i class="material-icons left">photo_camera</i>
                   Voir les médias associés
            </button>
        </div>
        <div class="col l12 hide-on-small-and-down" >
            {% include 'medias.html.twig' %}
        </div>
    <div class="row">
        <div class="col l10 offset-l1 s12 content_wrapper">
            <div class="row">
                <div class="col s12 description white-text">
                    <h4>Description de la figure</h4>
                </div>
                <p>{{ trick.content }}</p>
                <div class="col s12 author">
                    <em>Proposé par {{ trick.user.pseudo }} - Le {{ trick.trickDate | date ('d/m/Y \\à H\\hi') }}</em><br><br>
                </div>
            </div>
        </div>
    </div><br><br>
    {% include 'comments.html.twig' %}

    <script type="text/javascript">
        $(document).ready(function(){$('.materialboxed').materialbox();});
        $(document).ready(function(){$('.modal').modal();});
    </script>
{% endblock %}